.xjItemList {
	.x-form-label{
		font-size: 24px;
	}
	
	.x-form-fieldset{
		margin: .5em .5em .5em;
	}

	.flexbox {
		display: flex;
		display: -webkit-box;
		display: -ms-flexbox;
	}
	
	.box-align-center {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	
	.flex10 {
		-webkit-box-flex: 3;
		-ms-flex: 3;
		flex: 3;
	}
	
	.item{
		font:6px/24px \5B8B\4F53; 
		font-family:Microsoft YaHei;
		font-size:16px; 
		overflow:hidden;
		color:#353535;
		text-decoration:none;
	}
	
	.op {
		border-top: solid 0px #e5e5e5;
		display: table;
		flex: 1;
		width: 20%;
	}
	
	.btn {
		text-align: center;
		color: #929292;
		display: table-cell;
		line-height: 2rem;
		width: 33.333%;
	}
	
	.list-icon:not(.active):not(.anim):before {
		-webkit-text-stroke-width: .65px;
		-webkit-text-stroke-color: #7b7b7b;
		color: #E6E3E3;
	}
	
	.list-icon.ok:before {
		font-family: "IcoMoon";
		content: "\ea10";
	}

	.list-icon:before {
		text-align: center;
		font-size: 24px;
		color: #aaa;
	}
	
	.list-icon.other:before {
		font-family: "IcoMoon";
		content: "\eaec";
	}
	
	.list-icon.nok:before {
		font-family: "IcoMoon";
		content: "\ea0f";
	}
	
	.list-icon{
		&.green:before{
			color: green;
		}
		&.gray:before{
			color: gray;
		}
		&.red:before{
			color: red;
		}
	}
	
	.x-form-fieldset-title {
		margin: .3em 0 .5em 0;
		color: #555555;
		font-weight: 400;
		font-size: .9em;
		text-align: center;
	}
}