.lpalist-view {
	
	.flexbox:before {
		content: '';
		display: block;
		position: absolute;
		bottom: -1px;
		left: .6em;
		right: 0;
		border-bottom: solid 1px #dbdbe0;
	}
	
	.avatar.firstletter {
		border: 1px solid #909090;
		margin-right: .4em;
	}
	.avatar {
		position: relative;
		width: 2.4em;
		height: 2.4em;
		line-height: 2.4em;
		-webkit-border-radius: 9em;
		-moz-border-radius: 9em;
		-ms-border-radius: 9em;
		border-radius: 9em;
		text-align: center;
		color: #909090;
	}
	.avatar.firstletter:before {
		content: attr(letter);
		font-weight: 900;
	}

	.flex10 {
		-webkit-box-flex: 1;
		-ms-flex: 1 0 auto;
		flex: 1 0 auto;
	}

	h1, h2, h3, h4, h5, h6 {
		font-size: 100%;
		font-weight: normal;
	}

	.from {
		font-size: 14px;
		font-weight: 900;
	}
	.ellipsis {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.flex1 {
		-webkit-box-flex: 1;
		-ms-flex: 1 0 auto;
		flex: 1 0 auto;
	}
	.box-align-center {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.flexbox {
		display: flex;
		display: -webkit-box;
		display: -ms-flexbox;
	}
	.x-list-item .date {
		font-size: 14px;
		font-weight: normal;
	}

	.x-list-item h4 {
		font-size: 14px;
		color: #5D5757;
	}
	.ellipsis {
		overflow: hidden;
		margin: .1em 0;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.two-line-summary {
		max-height: 1.5rem;
		line-height: .95rem;
		font-size: .95rem;
		text-overflow: ellipsis;
		overflow: hidden;
		margin: .4em 0;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
	.newBtn{
		width: 50px;
		height: 50px;
		border-radius: 3em;
		background: rgba(22,127,255,0.2);
		border: 0;
		//top: 87%;
		//left: 43%;
	}
	.prompt{
		margin-bottom: .5em;
	}
	.prompt-cell{
    	display: table-cell;
	    width: 14.2857%;
	    text-align: center;
    }
    .round2{
        width: 16px;
	    height: 16px;
	    display: inline-block;
	    font-size: 20px;
	    text-align: center;
	    color: #aaa;
	    margin-right: .4em;
	    text-decoration: none;
    }
    .round3{
     	width: 16px;
	    height: 16px;
	    display: inline-block;
	    font-size: 20px;
	    text-align: center;
	    color: #F91E1E;
	    margin-right: .4em;
	    text-decoration: none;
    }
    .round4{
    	width: 16px;
	    height: 16px;
	    display: inline-block;
	    font-size: 20px;
	    text-align: center;
	    color: #2AC52A;
	    margin-right: .4em;
	    text-decoration: none;
    }
    .round5{
    	width: 16px;
	    height: 16px;
	    display: inline-block;
	    font-size: 20px;
	    text-align: center;
	    color: #9C27B0;
	    margin-right: .4em;
	    text-decoration: none;
    }
    .round6{
    	width: 16px;
	    height: 16px;
	    display: inline-block;
	    font-size: 20px;
	    text-align: center;
	    color: #ECF91D;
	    margin-right: .4em;
	    text-decoration: none;
    }
}