.spectaculars{
	.x-dataview-inlineblock .x-dataview-item, .x-dataview-inlineblock .x-data-item {
	    display: inline-block !important;
	    width: 23%;
	    height: 60px;
	    text-align: center;
	    line-height: 4;
	    border: 2px;
	    margin: 4px;
		}
}